@import "../../variables";

$widescreen-card-height: 475px;

.product-list-card {
	max-width: 260px;
	height: $widescreen-card-height;
	max-height: $widescreen-card-height;
	overflow-y: hidden;
	position: relative;

	.product-name {
		font-weight: bold;
		font-size: $larger-font;
		text-align: center;
		margin-bottom: 1em;
	}

	.product-image {
		width: 90%;
	}

	.product-price {
		text-align: center;

		.ant-statistic-content {
			font-size: $larger-font;
		}
	}

	.card-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}

	.view-details-title {
		text-align: center;
		color: $link-color;
		font-size: $larger-font;
		font-style: italic;
		font-weight: bold;
	}

	.bottom-white-mask {
		z-index: 100;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, .9) 93%, rgba(255, 255, 255, 1) 95%);
	}
}