@import "../../variables";

.product-list {

	display: flex;
	justify-content: center;
	padding: $card-spacing / 2;

	&.hidden {
		display: none;
	}

	.infinite-container {
		display: flex;
		overflow: auto;
		max-width: ($card-width + 50px) * 6;

		.product-grid {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}

		.loading-more-indicator {
			position: absolute;
			bottom: 40px;
			width: 100%;
			text-align: center;
		}
	}

	.ant-back-top {
		z-index: 300;
		right: 10px;
		bottom: 25px;
	}

}