@import "../../variables";

.product-list {

	display: flex;
	justify-content: center;
	height: 100%;
	padding: $card-spacing / 2;

	&.hidden {
		display: none;
	}

	.infinite-container {
		width: 100%;
		height: 100%;
		overflow: auto;

		& > div {
			height: 100%;
		}

		.loading-more-indicator {
			position: absolute;
			bottom: 40px;
			width: 100%;
			text-align: center;
			z-index: $highest-z-index;
		}
	}

	.ant-back-top {
		z-index: 300;
		right: 10px;
		bottom: 25px;
	}

}