@import "../../variables";

.product-list {

	display: flex;
	justify-content: center;
	height: 100%;
	padding: $card-spacing / 2;

	&.hidden {
		display: none;
	}

	.product-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;

		max-width: ($card-width + 50px) * 6;
		height: 100%;
	}

	.infinite-container {
		width: 100%;
		height: 100%;
		overflow: auto;

		& > div {
			height: 100%;
		}

		.loading-more-indicator {
			position: absolute;
			bottom: 40px;
			width: 100%;
			text-align: center;
			z-index: $highest-z-index;
		}
	}

	.ant-back-top {
		z-index: 300;
		right: 10px;
		bottom: 25px;
	}

}