@import "../../variables";

.product-details-modal {

	.ant-modal-body {
		max-height: 50vh;
		overflow-y: auto;

		.dialog-image {
			text-align: center;

			img {
				max-width: 80%;
			}
		}

		.dialog-descriptions {
			display: flex;
			align-items: start;

			.dialog-highlights {
				max-width: 400px;
				margin-right: $dialog-spacing;
			}

			.dialog-long-description {
				flex: 1;
			}
		}

	}

}