$larger-font: 1.2em;
$highest-z-index: 1000;

$header-height: 64px;

$dialog-spacing: 24px;	// this matches Ant Design modal spacing

$card-width: 300px;
$card-height: 475px;
$card-spacing: 16px;
$card-hover-glow: 3px;