@import "variables";

#root {
	height: 100%;

	.ant-layout {
		height: 100%;
		
		.ant-layout-header {
			// Fixed header, based on https://ant.design/components/layout/#components-layout-demo-fixed
			position: fixed;
			width: 100%;
			z-index: $highest-z-index;
			background-color: dimgray;
			height: $header-height;
			line-height: $header-height;
			box-shadow: 0 0 2px 2px darkgray;

			h1 {
				color: white;
				text-align: center;
				font-style: italic;
			}
		}

		.ant-layout-content {
			margin-top: $header-height;

			.initial-spinner {
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
}