@import "variables";

#root {
	height: 100%;

	.ant-layout {
		height: 100%;

		.ant-layout-header {
			// Fixed header, based on https://ant.design/components/layout/#components-layout-demo-fixed
			position: fixed;
			width: 100%;
			height: $header-height;
			line-height: $header-height;
			z-index: $highest-z-index;

			display: flex;
			justify-content: space-between;
			align-items: center;

			background-color: midnightblue;
			box-shadow: 0 0 2px 2px dimgray;

			.company-info {
				display: flex;
				align-items: center;

				img {
					max-height: 50px;
				}

				h1 {
					color: white;
					font-style: italic;
					margin-left: 15px;
					margin-bottom: 0;
				}
			}

			.anticon {
				color: white;
				font-size: 3em;
			}
		}

		.ant-layout-content {
			margin-top: $header-height;
		}
	}
}