$header-height: 64px;

.ant-layout-header {
	// Fixed header, based on https://ant.design/components/layout/#components-layout-demo-fixed
	position: fixed;
	width: 100%;
	z-index: 1000;
	background-color: dimgray;
	height: $header-height;
	line-height: $header-height;

	h1 {
		color: white;
		text-align: center;
		font-style: italic;
	}
}

.ant-layout-content {
	padding: 0 100px;
	margin-top: $header-height;
}